@using UranusAdmin.Dto
@model HomeworkDto

<h1>Homework Details</h1>

<div class="container">
    <table>
        <tr>
            <th>Title</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <th>Deadline</th>
            <td>@Model.Deadline</td>
        </tr>
    </table>
</div>