@using UranusAdmin.Dto
@model IEnumerable<HomeworkDto>

<style>
    table td, table th, table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="container">
    <h2 id="header">Homeworks</h2>

    @(
        Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Title).Titled("Title");
            columns.Add(model => model.Description).Titled("Description");
            columns.Add(model => model.Deadline).Titled("Description");
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Index", "Materials", new { courseId = model.CourseId, lessonId = model.LessonId, homeworkId = model.Id })}'\">Homeworks</button>").Titled("Homeworks").Encoded(false);
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Details", "Homeworks", new { courseId = model.CourseId, lessonId = model.LessonId, id = model.Id })}'\">Detials</button>").Titled("Details").Encoded(false);
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Update", "Homeworks", new { courseId = model.CourseId, lessonId = model.LessonId, id = model.Id })}'\">Edit</button>").Titled("Edit").Encoded(false);
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Delete", "Homeworks", new { courseId = model.CourseId, lessonId = model.LessonId, id = model.Id })}'\">Delete</button>").Titled("Delete").Encoded(false);
        })
        .Sortable()
        .Filterable()
        .Empty("No Data Found")
        )

    <br />
    <button onclick="location.pathname = redirectToCreate()">Create Homework</button>
</div>

<script>
    function redirectToCreate() {
        var strs = location.pathname.split('/');
        var courseId = strs[strs.length - 2];
        var lessonId = strs[strs.length - 1];
        var url = 'Homeworks/Create/' + courseId + '/' + lessonId;
        return url;
    }
</script>