@using UranusAdmin.Dto
@model LessonDto

<h1>Lesson Details</h1>

<div class="container">
    <table>
        <tr>
            <th>Title</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>@Model.Content</td>
        </tr>
        <tr>
            <th>Course</th>
            <td>@Model.Course.Name</td>
        </tr>
    </table>
</div>