@using UranusAdmin.Dto
@model IEnumerable<LessonDto>

<style>
    table td, table th, table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="container">
    <h2 id="header">Lessons</h2>
    
    @(
        Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Title).Titled("Title");
            columns.Add(model => model.Content).Titled("Content");
            columns.Add(model => model.Course.Name).Titled("Course");
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Details", "Lessons", new { id = model.Id })}'\">Detials</button>").Titled("Details").Encoded(false);
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Update", "Lessons", new { id = model.Id })}'\">Edit</button>").Titled("Edit").Encoded(false);
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Delete", "Lessons", new { id = model.Id })}'\">Delete</button>").Titled("Delete").Encoded(false);
        })
        .Sortable()
        .Filterable()
        .Empty("No Data Found")
        )
    
    <br />
    <button onclick="location.href = '@Url.Action("Create", "Lessons")'">Create Lesson</button>
</div>