@using UranusAdmin.Dto
@model VideoDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Enter title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Url">Url</label>
        <input asp-for="Url" class="form-control" placeholder="Enter url" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LessonId">Lesson</label>
        <select asp-for="LessonId" class="form-select">
            <option>-- Select Lesson --</option>
            @foreach(var item in Model.Lessons)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>