@using UranusAdmin.Dto
@model VideoDto

<h1>Video Details</h1>

<div class="container">
    <table>
        <tr>
            <th>Title</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>File</th>
            <td>@Model.VideoName</td>
        </tr>
    </table>
</div>