@using UranusAdmin.Dto
@model IEnumerable<VideoDto>


<style>
table td, table th, table {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<div id="container">
    <button onclick="location.href = '@Url.Action("Index", "Lessons", new {courseId = ViewBag.CourseId})'">Back</button>
    <br />
    <h2 id="header">Videos</h2>
    
    @(
        Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Title).Titled("Title");
            columns.Add(model => model.Url).Titled("Url");
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Details", "Videos", new { courseId = model.CourseId, lessonId = model.LessonId, id = model.Id })}'\">Detials</button>").Titled("Details").Encoded(false);
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Update", "Videos", new { courseId = model.CourseId, lessonId = model.LessonId, id = model.Id })}'\">Edit</button>").Titled("Edit").Encoded(false);
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Delete", "Videos", new { courseId = model.CourseId, lessonId = model.LessonId, id = model.Id })}'\">Delete</button>").Titled("Delete").Encoded(false);
        })
        .Sortable()
        .Filterable()
        .Empty("No Data Found")
        )
    
    <br />
    <button onclick="location.pathname = redirectToCreate()">Create Video</button>
</div>

<script>
    function redirectToCreate() {
        var strs = location.pathname.split('/');
        var courseId = strs[strs.length - 2];
        var lessonId = strs[strs.length - 1];
        var url = 'Videos/Create/' + courseId + '/' + lessonId;
        return url;
    }
</script>