@using UranusAdmin.Dto
@model IEnumerable<UserDto>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
table td, table th, table {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<div id="container">
    <h2 id="header">Users</h2>
    @(
        Html
                                .Grid(Model)
                                .Build(columns =>
                                {
                                    columns.Add(model => model.FirstName).Titled("First name");
                                    columns.Add(model => model.LastName).Titled("Last name");
                                    columns.Add(model => model.Email).Titled("Email");
                                    columns.Add(model => model.Address).Titled("Address");
                                    columns.Add(model => model.Username).Titled("Username");
                                    columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Details", "Users", new { id = model.Id })}'\">Detials</button>").Titled("Details").Encoded(false);
                                    columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Update", "Users", new { id = model.Id })}'\">Edit</button>").Titled("Edit").Encoded(false);
                                    columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Delete", "Users", new { id = model.Id })}'\">Delete</button>").Titled("Delete").Encoded(false);
                                })
                                .Sortable()
                                .Filterable()
                                .Empty("No Data Found")
    )
    <br />
    <button onclick="location.href = '@Url.Action("Create", "Users")'">Create User</button>
</div>