@using UranusAdmin.Dto
@model MaterialDto

<h1>Are you sure you want to delete this material?</h1>

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Enter title" disabled/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaterialContent">Url</label>
        <input asp-for="MaterialContent" type="file" class="form-control" placeholder="Enter a file" />
        <span asp-validation-for="MaterialContent" class="text-danger"></span>
    </div>
</form>

<div class="form-group">
    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="HomeworkId" />
        <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
    </form>
</div>