@using UranusAdmin.Dto
@model MaterialDto

<h1>Lesson Details</h1>

<div class="container">
    <table>
        <tr>
            <th>Title</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>File</th>
            <td>@Model.MaterialName</td>
        </tr>
    </table>
</div>