@using UranusAdmin.Dto
@model MaterialDto

<h1>Lesson Details</h1>

<div class="container">
    <table>
        <tr>
            <th>Title</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>@Model.Url</td>
        </tr>
    </table>
</div>