@using UranusAdmin.Dto
@model IEnumerable<MaterialDto>

<style>
    table td, table th, table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="container">
    <h2 id="header">Materials</h2>

    @(
        Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(model => model.Title).Titled("Title");
            columns.Add(model => model.Url).Titled("Url");
            columns.Add(model => model.Homework.Title).Titled("Homework");
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Details", "Materials", new { id = model.Id })}'\">Detials</button>").Titled("Details").Encoded(false);
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Update", "Materials", new { id = model.Id })}'\">Edit</button>").Titled("Edit").Encoded(false);
            columns.Add(model => $"<button onclick=\"location.href = '{@Url.Action("Delete", "Materials", new { id = model.Id })}'\">Delete</button>").Titled("Delete").Encoded(false);
        })
        .Sortable()
        .Filterable()
        .Empty("No Data Found")
        )

    <br />
    <button onclick="location.href = '@Url.Action("Create", "Materials")'">Create Material</button>
</div>