@using UranusAdmin.Dto
@model DocDto

<h1>Doc Details</h1>

<div class="container">
    <table>
        <tr>
            <th>Title</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>File</th>
            <td>@Model.DocName</td>
        </tr>
    </table>
</div>
